version: '2.4'
services:
  gonclub:
    build: .
    ports:
      - "9990:9990"
    cpus: 2
    mem_limit: 2048m
    pids_limit: 256
    restart: on-failure
    volumes:
      - data:/data
volumes:
  data:



